.container{
  width: 60%;
  height: 700px;
  background: green;
  border: 5px solid blue;
}

.para-in-container{
  background: lightgrey;
  width: 40%;
  border: 10px solid red;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 5px;

}

.add-margin{
  margin-top: 100px;
  height: 30px;
  overflow-y: hidden;
}
