<%- include("./partials/head") -%>
    <h1>Me</h1>
    <form class="">
      <input id="signup-name" type="text" name="name" placeholder="Name" required>
      <input id="signup-email" type="email" name="email" placeholder="Email">
      <input id="signup-password" type="password" name="password" placeholder="Password">
      <button id="signup-btn" type="button" name="signup-btn">Signup</button>
    </form>
    <script type="module" src="/js/signup.js"></script>
<%- include("./partials/foot") -%>
